.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.addSuggestionBtn {
  background-color: transparent;
  border-style: none;
}
.buttonImage {
  width: 20px;
  margin-top: 10px;
}
